{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h2>메인페이지</h2>
    <ul>
        {% if not request.session.session_id %}
        <li><h2>로그인을 하셔야 회원정보를 볼 수 있습니다.</h2></li>
        <a href="{% url 'member:login' %}"><li>login</li></a>
        <a href="#"><li>회원가입</li></a>
        {% else %}
        <li><h3>{{ request.session.session_name }}님 환영합니다.</h3></li>
        <li>--------------------</li>
        <a href="{% url 'member:logout' %}"><li>logout</li></a>
        <a href="/member/list"><li>회원정보</li></a>
        {% endif %}
    </ul>
    <img src="{% static 'images/hhh1.jpg' %}">
    <img src="{% static 'images/hhh2.jpg' %}">
</body>
</html>