<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{border:1px solid black; border-collapse:collapse;
        text-align:center; }
        table{width:550px;}
        th{width:200px;}
    </style>
</head>
<body>
    <h2>학생 전체리스트</h2>
    <h3>학생수 : {{stuCount}} 명</h3>
    <table>
        <tr>
            <th>학생이름</th>
            <th>학과</th>
            <th>나이</th>
            <th>학년</th>
            <th>성별</th>
        </tr>
        <!-- context : stuList, count-->
        {% if stuList  %}
            {% for stu in stuList%}
            <tr>
                <td><a href="{% url 'students:stuView' stu.s_name %}">{{stu.s_name}}</a></td>
                {% comment %} <td><a href="/students/stuView?name={{stu.s_name}}">{{stu.s_name}}</a></td> {% endcomment %}
                <td>{{stu.s_major}}</td>
                <td>{{stu.s_age}}</td>
                <td>{{stu.s_grade}}</td>
                <td>{{stu.s_gender}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='5'>가져올 데이터가 없습니다.</td>
            </tr>
        {% endif %}
    </table>
    <br>
    <a href="{% url 'students:stuWrite' %}"><button>학생등록</button></a>
    <a href="{% url 'index' %}"><button>메인</button></a>
</body>
</html>