<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function cancel(){
            if(confirm('등록을 취소하겠습니까?')){
                location.href="{% url 'students:stuList'  %}"
            }
        }
    </script>
</head>
<body>
    <h2>학생등록페이지</h2>
    <form action="{%url 'students:stuWrite'%}" method='post' name='frm'>
        {% csrf_token %}
        <label>학생이름</label>
        <input type='text' name='name'><br>
        <label>학과</label>
        <input type='text' name='major'><br>
        <label>나이</label>
        <input type='text' name='age'><br>
        <label>학년</label>
        <input type='text' name='grade'><br>
        <label>성별</label>
        <input type='radio' name='gender' id='male' value='남자'>
        <label for='male'>남자</label>
        <input type='radio' name='gender' id='female' value='여자'>
        <label for='female'>여자</label>
        <br>
        <input type='submit' value='전송'>
        <button type='button' onclick='cancel()'>취소</button>
    </form>
</body>
</html>