{% extends 'base.html' %}
{% load static %}

    {% block content-block %}
    <link rel="stylesheet" href="{% static 'css/read.css'%} ">

  <script>  
    function deleteBtn(){
      if(confirm("데이터를 삭제하시겠습니까?")){
        location.href="{% url 'fboard:fDelete' board.f_no nowpage %}"
      }else{
        return false
      }
    }
    function fboardBtn(){
      location.href="{% url 'fboard:fList' nowpage %}"
    }
    function updateBtn(){
      location.href="{% url 'fboard:fUpdate' board.f_no nowpage %}"
    }
    function replyBtn(){
      location.href="{% url 'fboard:fReply' board.f_no nowpage %}"}
  </script>
    <h1>NOTICE</h1>

    <table>
      <tr>
        <th>{{board.f_title}}</th>
      </tr>
      <tr>
        <th>{{board.member.name}}</th>
      </tr>
      <tr>
        <th>{{board.f_updatedate|date:'Y-m-d H:i'}}</th>
      </tr>
      <tr>
        <th>{{board.f_content}}</th>
      </tr>
      <tr>
        <th>파일이름 | {{board.f_title}}</th>
      </tr>
      <tr>
        <td>
          {% if board.f_file %}
          <img src="{{board.f_file.url}}">
          {% else %}
          <h4>이미지 없음</h4>
          {% endif %}
        </td>
      <tr>
        <td><strong>다음글</strong> <span class="separator">|</span> <a href="{% url 'fboard:fView' boardPrev.f_no nowpage %}"> {{boardPrev.f_title}}</a></td>
      </tr>
      <tr>
        <td><strong>이전글</strong> <span class="separator">|</span> <a href="{% url 'fboard:fView' boardNext.f_no nowpage %}"> {{boardNext.f_title}}</a></td>
      </tr>
    </table>

    <div class="list" onclick="fboardBtn()">목록</div>
    <div class="list" onclick="replyBtn()">답글</div>
    <div class="list" onclick="deleteBtn()">삭제</div>
    <div class="list" onclick="updateBtn()">수정</div>
    {% endblock content-block %}


