<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h2>메인페이지</h2>
    <ul>
        {% if not request.session.session_id %}
        <li><h3>로그인 하셔야 글쓰기가 가능합니다.</h3></li>
        <a href="{% url 'member:login' %}"><li>로그인</li></a>
        <li>회원가입</li>
        <li>----------</li>
        {% else %}
        <li>{{ request.session.session_nickname }}님 환영합니다.</li>
        <a href="{% url 'member:logout' %}"><li>로그아웃</li></a>
        <a href='{% url 'freeboard:fList' %}'><li>자유게시판</li></a>
        <a href='#'><li>전체회원리스트</li></a>
        <a href='/admin'><li>admin</li></a>
        {% endif %}
    </ul>
</body>
</html>